@using ProyectoCosmosDb.Models
@model List<Pelicula>

@{
    ViewData["Title"] = "Ver Peliculas";
}

<h2>Peliculas</h2>

<p>
    <a asp-action="CrearPelicula">Crear nueva pelicula</a>
</p>

<form method="post">
    <input type="text" placeholder="Buscar por genero" name="genero" /> 
    <button type="submit" class="btn btn-success">Buscar</button>
</form>
@if(Model.Count() > 0)
{
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Titulo
            </th>
            <th>
                TituloOriginal
            </th>
            <th>
                Sinopsis
            </th>
            <th>
                Genero
            </th>
            <th>
                Imagen
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Pelicula p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Titulo</td>
                <td>@p.TituloOriginal</td>
                <td style="width:500px;"><p>@p.Sinopsis</p></td>
                <td>@p.Genero</td>
                <td><img src=" @p.Imagen" style="width:130px; height:200px;" /></td>
                <td>
                    <p>@Html.ActionLink("Editar", "EditPelicula", new { idPelicula = p.Id })</p>  
                   <p>@Html.ActionLink("Detalles", "DetallesPelicula", new { idPelicula = p.Id })</p> 
                   <p>@Html.ActionLink("Eliminar", "EliminarPelicula", new { idPelicula = p.Id })</p> 
                </td>
            </tr>
        }
    </tbody>
</table>
}

